<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analytics</title>
    <link rel="stylesheet" href="/css/analytics.css">
    <!-- <link rel="stylesheet" href="../public/css/analytics.css"> -->
</head>

<body>
    <form class="form-container" action="">
        <label for="shortUrl">Enter Your Short Url:</label>
        <input type="text" placeholder="Enter Your Short Url">
    </form>

    <div class="table-container">
        <table>
            <thead >
                <tr>
                    <th>clicks</th>
                    <th>date</th>
                    <th>time</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>12/12/2020</td>
                    <td>12:12:12</td>
                </tr>
            </tbody>

            
        </table>
    </div>

    <script src="/js/analytics.js"></script>
    <!-- <script src="../public/js/analytics.js"></script> -->
</body>

</html>