<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analytics</title>
    <link rel="stylesheet" href="/css/analytics.css">
    <!-- <link rel="stylesheet" href="../public/css/analytics.css"> -->
</head>

<body>
    <form class="form-container" action="">
        <label for="shortUrl">Enter Your Short Url:</label>
        <input class="short-url" type="text" placeholder="Enter Your Short Url">
        <button class="submit-btn" type="submit">Get</button>
    </form>

    <div class="table-container">
        <table>
            <thead >
                <tr>
                    <th class="clicks-top-head">clicks</th>
                    <th>date</th>
                    <th>time</th>
                </tr>
            </thead>

            <tbody class="analytics-tbody">
                <div class="warning-container">add the link to see the analytics</div>
            </tbody>

        </table>
    </div>

    <script src="/js/analytics.js"></script>
    <!-- <script src="../public/js/analytics.js"></script> -->
</body>

</html>