<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login please!</title>

    
    <link rel="stylesheet" href="/css/login.css">
    <!-- <link rel="stylesheet" href="../public/css/login.css"> -->
</head>
<body>
    <form id="login-form">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>

        <button type="submit">Submit</button>
    </form>

    <script src="/js/login.js"></script>
    <!-- <script src="../public/js/login.js"></script> -->
</body>
</html>